:root {
  --offset_small: 10px;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSansRegular/OpenSans-Regular.eot');
  src: url('./fonts/OpenSansRegular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/OpenSansRegular/OpenSans-Regular.woff2') format('woff2'),
      url('./fonts/OpenSansRegular/OpenSans-Regular.woff') format('woff'),
      url('./fonts/OpenSansRegular/OpenSans-Regular.ttf') format('truetype'),
      url('./fonts/OpenSansRegular/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSansItalic/OpenSans-Italic.eot');
  src: url('./fonts/OpenSansItalic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('./fonts/OpenSansItalic/OpenSans-Italic.woff2') format('woff2'),
      url('./fonts/OpenSansItalic/OpenSans-Italic.woff') format('woff'),
      url('./fonts/OpenSansItalic/OpenSans-Italic.ttf') format('truetype'),
      url('./fonts/OpenSansItalic/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.d1 {
  font-family: 'Open Sans';
  font-style: italic;
}

.hide {
  display: none;
}

#_searchBox {
  position: sticky;
  top: 0;
  height: 120px;
  background: rgb(110, 112, 221);
}

.scrollerWrap {
  padding-top: 10px;  
}

#_booksSuggestion {
  height: 200px;
  overflow-y: scroll;
  direction: rtl;
}

#search-result {
  padding: 10px;
  border: 1px solid gray;
  background: white;
  margin: 0;
  direction: ltr;
}

.search-options {
  margin-bottom: var(--offset_small);
}

.content {
  height: 100%;
}

ul li{
  list-style:none;
  }

 .zoom {
  position: fixed;
  right: 0;
  z-index: 100;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-size: larger; */
}


 
 