:root {
  --offset_small: 10px;
}

.hide {
  display: none;
}

#_searchBox {
  position: sticky;
  top: 0;
  height: 120px;
  background: rgb(110, 112, 221);
}

.scrollerWrap {
  padding-top: 10px;  
}

#_booksSuggestion {
  height: 200px;
  overflow-y: scroll;
  direction: rtl;
}

#search-result {
  padding: 10px;
  border: 1px solid gray;
  background: white;
  margin: 0;
  direction: ltr;
}

.search-options {
  margin-bottom: var(--offset_small);
}

.content {
  height: 100%;
}

ul li{
  list-style:none;
  }

  input{
    position: relative; 
    left: 578px;
    height:24px;
    font-size: 15px;
  }