:root {
  --offset_small: 10px;
}

.hide {
  display: none;
}

#search-result {
  width: 400px;
  height: 200px;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid gray;
  background: white;
  margin: 0;
}

.search-options {
  margin-bottom: var(--offset_small);
}